@charset "utf-8";
/* CSS Document */

/* 博客宠物 */
.spig {
	display:block;
	width:286px;
	height:370px;
	position:absolute;
	top: -200px;
	left: 160px;
	z-index:9999;
}
#message{
	color :#191919;
	border: 1px solid #c4c4c4;
	background:#CC3399;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	min-height:1em;
	padding:5px;
	top:-30px;
	position:absolute;
	text-align:center;
	width:auto !important;
	z-index:10000;
	-moz-box-shadow:0 0 15px #eeeeee;
	-webkit-box-shadow:0 0 15px #eeeeee;
	border-color:#eeeeee;
	box-shadow:0 0 15px #eeeeee;
	outline:none;
}
.mumu{
	width:286px;
	height:370px;
	cursor: move;
	background:url(spig.gif) no-repeat;
}